*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;   
}
body{
    background-color: #f4f6f8;
    margin: 20px;
}
h1{
    color: rgb(27, 23, 23);
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]{
    margin-bottom: 10px;
    width: 250px;
    padding: 5px;
    border: 1px solid rgb(228, 219, 219);
}
table,input,label{
    font-weight: 14px;
}
label{
    display: inline-block;
    margin-bottom: 6px;
}
button{
    color: white;
    background-color: blue;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(60, 60, 186);
}
input:focus{
    border: 1px solid rgb(117, 117, 210);
    outline: none;
}
table{
    border-collapse: collapse;
}
th{
    background-color: rgb(35, 35, 198);
    color: white;
}
tr:hover{
    background-color: rgb(219, 237, 248);
}